<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdr.patrollib">

    <application>
        <activity
            android:name=".ui.main.PatrolMainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.target_device.PatrolTargetDeviceActivity" />
        <activity android:name=".ui.target_device.PatrolMeterReadingActivity" />
        <activity android:name=".ui.target_device.PatrolDeviceAddDangerActivity"></activity>
    </application>

</manifest>