<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdr.patrollib">

    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name=".ui.main.PatrolMainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.target_device.PatrolTargetDeviceActivity" />
        <activity android:name=".ui.target_device.PatrolMeterReadingActivity" />
        <activity android:name=".ui.target_device.PatrolDeviceAddDangerActivity"></activity>
    </application>

</manifest>